{% extends "dashboard/base.html" %}
{% block content %}

<div class="max-w-7xl mx-auto">

    <div class="flex items-center gap-3 mb-6">

        <!-- BACK BUTTON -->
        <div onclick="goBack()" class="flex items-center justify-center

        w-10 h-10

        rounded-xl

        bg-gradient-to-br from-slate-700 to-slate-900

        shadow-[inset_2px_2px_5px_rgba(255,255,255,0.1),_6px_6px_15px_rgba(0,0,0,0.8)]

        border border-white/10

        cursor-pointer

        transition-all duration-200

        hover:scale-110 hover:shadow-[0_0_15px_rgba(250,204,21,0.6)]

        active:scale-90">

            <i class="fa-solid fa-arrow-left text-white text-sm"></i>

        </div>

        <!-- TITLE -->
        <h1 class="text-2xl font-bold text-white tracking-wide
drop-shadow-[0_0_8px_rgba(255,255,255,0.2)]">

            <i class="fa-solid fa-receipt text-yellow-400 drop-shadow-[0_0_6px_rgba(255,215,0,0.6)]"></i>
            Purchase Invoices
            <span> - (
                {% if supplier %}
                {{ supplier.name }}
                {% else %}
                All Suppliers
                {% endif %} )
            </span>

        </h1>

    </div>

    <!-- DESKTOP TABLE -->

    <div class="hidden md:block

bg-gradient-to-br from-slate-800 to-slate-900

rounded-3xl p-5

shadow-[inset_2px_2px_6px_rgba(255,255,255,0.05),_10px_10px_30px_rgba(0,0,0,0.8)]

border border-white/10

overflow-x-auto 
overflow-y-auto
max-h-[450px]     
">

        <table class="w-full text-sm text-white">

            <thead class="text-left

bg-black/20 

rounded-xl

shadow-[inset_0_-2px_6px_rgba(255,255,255,0.05)] sticky top-0 z-10 bg-slate-900">

                <tr>
                    <th class="py-3 px-2">Invoice</th>
                    <th>Date</th>
                    <th>Mode</th>
                    <th>Total</th>
                    <th>Receivable</th>
                    <th>Action</th>
                </tr>

            </thead>

            <tbody class="divide-y divide-white/5">

                {% for p in purchases %}

                <tr class="transition-all duration-200

hover:bg-white/5 hover:scale-[1.01]">

                    <td class="font-bold text-white">
                        <a href="/purchase/preview/{{ p.id }}/" target="_blank">
                            {{ p.invoice_number }}
                        </a>
                    </td>


                    <td class="text-gray-300">
                        {{ p.date|date:"d M Y" }}
                    </td>

                    <td class="text-sm font-bold">
                       <span class="
{% if p.status == 'CREDIT' or p.status == 'PARTIAL' %}
    text-red-400
{% elif p.status == 'PAID' %}
    text-yellow-400
{% elif p.status == 'CASH' %}
    text-green-400
{% elif p.status == 'BANK' %}
    text-blue-400
{% endif %}
font-bold">
    {{ p.status }}
</span>
                    </td>

                    <td class="font-bold text-blue-400
drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
                        ₹ {{ p.total }}
                    </td>
<td class="font-bold
{% if p.receivable > 0 %}
    text-green-400
{% else %}
    text-gray-500
{% endif %}
">
    {% if p.receivable > 0 %}
        ₹ {{ p.receivable }}
    {% else %}
        -
    {% endif %}
</td>
                    <td class="flex gap-2">

                        <!-- VIEW -->
                        <a href="/purchase/preview/{{ p.id }}/" data-id="{{ p.id }}"
                            onclick="event.preventDefault(); openLedger(this.dataset.id)" class="w-8 h-8 flex items-center justify-center rounded-lg
bg-gradient-to-br from-blue-500 to-blue-600
shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_10px_rgba(0,0,0,0.6)]
hover:scale-[1.1]
hover:shadow-[0_0_10px_rgba(59,130,246,0.6)]
transition-all duration-200">

                            <i class="fa-solid fa-eye text-white text-xs"></i>
                        </a>
                        <!-- RETURN -->
                        <button onclick="openReturnHistory('{{ p.id }}')" class="w-8 h-8 flex items-center justify-center rounded-lg

{% if p.is_fully_returned %}
    bg-gray-600 opacity-60
{% else %}
    bg-gradient-to-br from-purple-500 to-purple-600
    shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_10px_rgba(0,0,0,0.6)]
    hover:scale-[1.1]
    hover:shadow-[0_0_10px_rgba(168,85,247,0.6)]
{% endif %}

transition-all duration-200">

                            <i class="fa-solid fa-clock-rotate-left text-white text-xs"></i>

                        </button>
                        <!-- EDIT -->
                        {% if p.payment_mode == "credit" and p.paid_amount == 0 %}
                        <!-- EDIT -->
                        <a href="/purchase/edit/{{ p.id }}/" class="w-8 h-8 flex items-center justify-center rounded-lg
    bg-gradient-to-br from-yellow-400 to-amber-500
    shadow-[inset_2px_2px_5px_rgba(255,255,255,0.4),_4px_4px_10px_rgba(0,0,0,0.6)]
    hover:scale-[1.1]
    hover:shadow-[0_0_10px_rgba(255,215,0,0.6)]
    transition-all duration-200">

                            <i class="fa-solid fa-pen-to-square text-black text-xs"></i>
                        </a>
                        {% else %}
                        <!-- LOCK -->
                        <div class="w-8 h-8 flex items-center justify-center rounded-lg
    bg-gray-600 cursor-not-allowed opacity-60" title="Locked">

                            <i class="fa-solid fa-pen-to-square text-white text-xs"></i>
                        </div>
                        {% endif %}


                        <!-- DELETE -->
                        {% if p.payment_mode == "credit" and p.paid_amount == 0 %}
                        <!-- DELETE -->
                        <a href="/purchase/delete/{{ p.id }}/" class="w-8 h-8 flex items-center justify-center rounded-lg
    bg-gradient-to-br from-red-500 to-red-600
    shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_10px_rgba(0,0,0,0.6)]
    hover:scale-[1.1]
    hover:shadow-[0_0_10px_rgba(255,0,0,0.6)]
    transition-all duration-200">

                            <i class="fa-solid fa-trash-can text-white text-xs"></i>
                        </a>
                        {% else %}
                        <!-- LOCK -->
                        <div class="w-8 h-8 flex items-center justify-center rounded-lg
    bg-gray-600 cursor-not-allowed opacity-60" title="Locked">

                            <i class="fa-solid fa-trash-can text-white text-xs"></i>
                        </div>
                        {% endif %}

                    </td>

                </tr>

                {% endfor %}

            </tbody>
        </table>

    </div>

    <!-- MOBILE CARD VIEW -->

    <div class="md:hidden space-y-4">

        {% for p in purchases %}

        <div class="p-5 rounded-3xl

bg-gradient-to-br from-slate-800 to-slate-900

shadow-[inset_2px_2px_6px_rgba(255,255,255,0.05),_8px_8px_20px_rgba(0,0,0,0.8)]

border border-white/10">

            <a href="/purchase/preview/{{ p.id }}/" target="_blank" class="block">

                <div class="flex justify-between items-start

cursor-pointer

p-3 rounded-xl

transition-all duration-200

hover:bg-white/5 hover:scale-[1.01]">

                    <div>

                        <h2 class="text-lg font-bold text-white tracking-wide ">
                            {{ p.invoice_number }}
                <span class="text-sm font-bold
{% if p.status == 'CREDIT' %}
    text-red-400
{% elif p.status == 'PARTIAL' %}
    text-red-400
{% elif p.status == 'PAID' %}
    text-yellow-400
{% elif p.status == 'CASH' %}
    text-green-400
{% elif p.status == 'BANK' %}
    text-blue-400
{% endif %}
">
- ({{ p.status }})
</span>
                        </h2>

                        <p class="text-gray-400 text-sm">
                            {{ p.date|date:"d M Y" }}
                        </p>
                    </div>

                   <div class="flex flex-col items-end">

    <!-- TOTAL -->
    <div class="text-blue-400 text-lg font-bold
        drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
        ₹ {{ p.total }}
    </div>

    <!-- RECEIVABLE -->
    {% if p.receivable > 0 %}
    <div class="text-green-400 text-xs font-bold mt-1">
        Receivable ₹ {{ p.receivable|floatformat:2 }}
    </div>
    {% endif %}

</div>

                </div>

            </a>

            <!-- ACTION BUTTONS -->
            <div class="flex gap-2 mt-4">

                <!-- VIEW -->
                <a href="/purchase/preview/{{ p.id }}/" data-id="{{ p.id }}"
                    onclick="event.preventDefault(); openLedger(this.dataset.id)" class="flex-1 text-center py-2 rounded-xl
   bg-gradient-to-br from-blue-500 to-blue-600 text-white
   shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_12px_rgba(0,0,0,0.6)]
   text-sm font-semibold">

                    <i class="fa-solid fa-eye"></i> View
                </a>
                <!-- RETURN -->
                <button onclick="openReturnHistory('{{ p.id }}')" class="flex-1 text-center py-2 rounded-xl text-white

{% if p.is_fully_returned %}
    bg-gray-600 opacity-60 cursor-not-allowed
{% else %}
    bg-gradient-to-br from-purple-500 to-purple-600
    shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_12px_rgba(0,0,0,0.6)]
    hover:scale-[1.03]
    hover:shadow-[0_0_10px_rgba(168,85,247,0.6)]
{% endif %}

text-sm font-semibold
transition-all duration-200">

                    <i class="fa-solid fa-clock-rotate-left mr-1"></i>Return

                </button>
                <!-- EDIT -->
                {% if p.payment_mode == "credit" and p.paid_amount == 0 %}
                <a href="/purchase/edit/{{ p.id }}/" class="flex-1 text-center py-2 rounded-xl
bg-gradient-to-br from-yellow-400 to-amber-500 text-black
shadow-[inset_2px_2px_5px_rgba(255,255,255,0.4),_4px_4px_12px_rgba(0,0,0,0.6)]
text-sm font-semibold">

                    <i class="fa-solid fa-pen-to-square"></i> Edit
                </a>
                {% else %}
                <div class="flex-1 text-center py-2 rounded-xl
bg-gray-600 text-white opacity-60 cursor-not-allowed
text-sm font-semibold" title="Payment Done - Locked">

                    <i class="fa-solid fa-pen-to-square"></i> Edit
                </div>
                {% endif %}

                {% if p.payment_mode == "credit" and p.paid_amount == 0 %}
                <a href="/purchase/delete/{{ p.id }}/" class="flex-1 text-center py-2 rounded-xl
bg-gradient-to-br from-red-500 to-red-600 text-white">

                    <i class="fa-solid fa-trash-can"></i></i> Delete
                </a>
                {% else %}
                <div class="flex-1 text-center py-2 rounded-xl
bg-gray-600 text-white opacity-60 cursor-not-allowed" title="Payment Done - Locked">

                    <i class="fa-solid fa-trash-can"></i> Delete
                </div>
                {% endif %}

            </div>

        </div>

        {% endfor %}

    </div>
    <div id="ledgerModal"
        class="fixed inset-0 bg-black/70 backdrop-blur-md hidden flex items-center justify-center z-50">

        <!-- CARD -->
        <div class="relative

    bg-gradient-to-br from-slate-800 to-slate-900

    p-6 rounded-3xl w-96 text-white

    shadow-[inset_2px_2px_8px_rgba(255,255,255,0.05),_12px_12px_30px_rgba(0,0,0,0.8)]

    border border-white/10">

            <!-- SHINE -->
            <div
                class="absolute inset-0 rounded-3xl bg-gradient-to-tr from-white/10 to-transparent pointer-events-none">
            </div>

            <!-- TITLE -->
            <h2 id="ledgerTitle" class="text-lg font-bold mb-3 tracking-wide flex items-center gap-2 relative z-10">

                <i class="fa-solid fa-book text-yellow-400 drop-shadow-[0_0_6px_rgba(255,215,0,0.6)]"></i>
                Ledger Details

            </h2>

            <!-- SUMMARY -->
            <div class="text-sm mb-4 space-y-1 relative z-10">

                <div class="flex justify-between">
                    <span class="text-gray-400">Total</span>
                    <span id="ledgerTotal" class="text-blue-400 font-bold">₹ 0</span>
                </div>

                <div class="flex justify-between">
                    <span class="text-gray-400">Paid</span>
                    <span id="ledgerPaid" class="text-green-400 font-bold">₹ 0</span>
                </div>

                <div class="flex justify-between">
                    <span class="text-gray-400">Balance</span>
                    <span id="ledgerBalance" class="text-red-400 font-bold

                drop-shadow-[0_0_6px_rgba(255,0,0,0.6)]">
                        ₹ 0
                    </span>
                </div>
                <div class="flex justify-between">
                    <span class="text-gray-400">Payment Mode</span>
                    <span id="ledgerMode" class="text-yellow-400 font-bold">
                        -
                    </span>
                </div>
            </div>

            <!-- HISTORY -->
            <h3 class="font-semibold mb-2 relative z-10 flex items-center gap-2">
                <i class="fa-solid fa-clock-rotate-left text-yellow-400"></i>
                Payment History
            </h3>

            <div id="ledgerPayments" class="space-y-2 text-sm max-h-40 overflow-y-auto pr-1 relative z-10">

                <!-- dynamic items -->

            </div>

            <!-- CLOSE BUTTON -->
            <button onclick="closeLedger()" class="mt-5 w-full relative overflow-hidden

        bg-gradient-to-br from-red-500 to-red-600

        text-white font-bold tracking-wide

        shadow-[inset_2px_2px_6px_rgba(255,255,255,0.2),_6px_6px_16px_rgba(0,0,0,0.6)]

        py-2.5 rounded-xl

        transition-all duration-200

        hover:scale-[1.03]
        hover:shadow-[0_0_12px_rgba(255,0,0,0.5)]

        active:scale-95
        active:shadow-[inset_2px_2px_6px_rgba(0,0,0,0.6)]">

                <span class="flex items-center justify-center gap-2">
                    <i class="fa-solid fa-xmark"></i>
                    Close
                </span>

            </button>

        </div>

    </div>
</div>
<div id="returnModal" class="fixed inset-0 bg-black/70 hidden flex items-center justify-center z-50">

    <div class="bg-slate-900 p-5 rounded-2xl w-80 text-white">

        <!-- 🔙 BACK BUTTON -->
        <div class="flex items-center justify-between mb-2">

            <button id="backBtn" onclick="goBackToList()" class="flex items-center justify-center

        w-10 h-10

        rounded-xl

        bg-gradient-to-br from-slate-700 to-slate-900

        shadow-[inset_2px_2px_5px_rgba(255,255,255,0.1),_6px_6px_15px_rgba(0,0,0,0.8)]

        border border-white/10

        cursor-pointer

        transition-all duration-200

        hover:scale-110 hover:shadow-[0_0_15px_rgba(250,204,21,0.6)]

        active:scale-90">

                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <h2 class="font-bold mb-3" id="returnTitle">Return History</h2>

        </div>

        <div id="returnHistory" class="space-y-2 max-h-60 overflow-y-auto"></div>

        <button onclick="closeReturnModal()" class="mt-4 w-full bg-red-500 py-2 rounded-lg">
            Close
        </button>

    </div>
</div>
<script>
    function closeReturnModal() {
        document.getElementById("returnModal").classList.add("hidden");
    }
    function viewReturn(purchaseId, productId) {
        currentPurchaseId = purchaseId;
        fetch(`/get-return-info/?purchase_id=${purchaseId}&product_id=${productId}`)
            .then(res => res.json())
            .then(data => {

                let html = "";

                data.history.forEach(i => {
                    html += `

<!-- 📦 RETURN ITEM -->
<div class="flex justify-between bg-black/20 p-2 rounded-xl">

    <div>
        <div class="font-semibold">${i.date}</div>
        <div class="text-xs text-gray-400">
            Qty: ${i.qty}
        </div>
    </div>

    <div class="flex items-center gap-2">

        <!-- 👁 VIEW INVOICE -->
       <!-- 
        <button 
        onclick="event.stopPropagation(); openReturnInvoice(${purchaseId}, ${i.product_id})"

        class="w-8 h-8 flex items-center justify-center rounded-lg

        bg-gradient-to-br from-blue-500 to-blue-600

        shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_10px_rgba(0,0,0,0.6)]

        hover:scale-110
        hover:shadow-[0_0_10px_rgba(59,130,246,0.6)]

        transition-all duration-200">

            <i class="fa-solid fa-eye text-white text-xs"></i>
        </button>
-->
        <!-- 💰 AMOUNT -->
        <div class="text-yellow-400 font-bold">
            ₹ ${i.amount}
        </div>

    </div>

</div>
`;
                });

                document.getElementById("returnHistory").innerHTML = html;
                document.getElementById("backBtn").classList.remove("hidden");
            });
    }
    function openReturnHistory(purchaseId) {
        currentPurchaseId = purchaseId;
        fetch(`/get-return-info/?purchase_id=${purchaseId}`)
            .then(res => res.json())
            .then(data => {

                document.getElementById("returnTitle").innerText =
                    `Return History - ${data.invoice}`;


                let html = "";

                data.items.forEach(i => {

                    html += `
<div class="flex justify-between items-center bg-black/20 p-2 rounded">

    <div>
        <div class="cursor-pointer font-semibold" onclick="viewReturn(${purchaseId}, ${i.product_id})">${i.name}</div>
        <div class="text-xs text-gray-400">
            Total: ${i.qty} | Returned: ${i.returned} | Remaining: ${i.remaining}
        </div>
    </div>

    <div class="flex gap-2">

       ${i.has_return ? `
<button 
onclick="event.stopPropagation(); openReturnInvoice(${purchaseId}, ${i.product_id})"

class="w-8 h-8 flex items-center justify-center rounded-lg

bg-gradient-to-br from-blue-500 to-blue-600

shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_10px_rgba(0,0,0,0.6)]

hover:scale-110
hover:shadow-[0_0_10px_rgba(59,130,246,0.6)]

transition-all duration-200">

    <i class="fa-solid fa-eye text-white text-xs"></i>
</button>
` : ''}

    </div>

</div>
`;
                });

                document.getElementById("returnHistory").innerHTML = html;
                document.getElementById("returnModal").classList.remove("hidden");
                // ❌ HIDE BACK BUTTON
                document.getElementById("backBtn").classList.add("hidden");
            });
    }
    function openLedger(id) {

        fetch(`/api/purchase-ledger/${id}/`)
            .then(res => res.json())
            .then(data => {

                document.getElementById("ledgerTitle").innerText = data.invoice;
                document.getElementById("ledgerTotal").innerText = "₹ " + data.total;
                document.getElementById("ledgerPaid").innerText = "₹ " + data.paid;
                document.getElementById("ledgerBalance").innerText = "₹ " + data.balance;

                let html = '';

                if (data.payments.length === 0) {
                    html = `<p class="text-gray-400">No payments yet</p>`;
                } else {
                    data.payments.forEach(p => {
                        html += `
<div class="flex justify-between items-center bg-black/20 px-2 py-1 rounded-lg">

    <div>
        <div>${p.date}</div>
        <div class="text-green-400 font-bold">₹ ${p.amount}</div>
    </div>

    <!-- 👁️ VIEW PRINT -->
    <button onclick="openPaymentVoucher(${p.id})"
    class="w-8 h-8 flex items-center justify-center rounded-lg
    bg-gradient-to-br from-blue-500 to-blue-600
    shadow-[inset_2px_2px_5px_rgba(255,255,255,0.3),_4px_4px_10px_rgba(0,0,0,0.6)]
    hover:scale-[1.1] transition-all">

        <i class="fa-solid fa-eye text-white text-xs"></i>
    </button>

</div>
`;
                    });
                }

                document.getElementById("ledgerPayments").innerHTML = html;

                document.getElementById("ledgerModal").classList.remove("hidden");
                document.getElementById("ledgerMode").innerText = data.payment_mode.toUpperCase();

            });
    }

    function closeLedger() {
        document.getElementById("ledgerModal").classList.add("hidden");
    }
    function openPaymentVoucher(id) {
        window.open(`/payment-voucher/${id}/`, "_blank");
    }
    function goBack() {
        window.location.href = "/supplier-summary/";
    }
    function openReturnInvoice(purchaseId, productId) {

        fetch(`/get-return-info/?purchase_id=${purchaseId}&product_id=${productId}`)
            .then(res => res.json())
            .then(data => {

                if (!data.history || data.history.length === 0) {
                    alert("No return invoice found ❌");
                    return;
                }

                // 🔥 latest return
                let last = data.history[data.history.length - 1];

                // ✅ OPEN CORRECT RETURN INVOICE
                window.open(`/purchase-return/print/${last.return_id}/`, "_blank");

            });
    }
    let currentPurchaseId = null;

    function goBackToList() {
        if (currentPurchaseId) {
            openReturnHistory(currentPurchaseId);
        }
    }
</script>
{% endblock %}