{% extends "base.html" %}
{% block content %}

<div class="max-w-7xl mx-auto px-3 mt-2">

    <!-- TITLE -->
    <h1 class=" sticky top-[50px] md:top-[10px] z-40
bg-slate-900/95 backdrop-blur-sm
py-3 rounded-2xl text-2xl font-bold mb-6 text-white tracking-wide rounded-2xl">
        <i class="fa-solid fa-truck text-yellow-400 drop-shadow-[0_0_6px_rgba(255,215,0,0.6)]"></i>
        {{ title }}
    </h1>

    <!-- DESKTOP TABLE -->
    <div class="hidden md:block
    bg-gradient-to-br from-slate-800 to-slate-900
    rounded-3xl p-5
    shadow-[inset_2px_2px_6px_rgba(255,255,255,0.05),_10px_10px_30px_rgba(0,0,0,0.8)]
    border border-white/10
    overflow-auto max-h-[500px]">

        <table class="w-full text-sm text-white">

            <thead class="sticky top-0 bg-slate-900 z-10
            shadow-[inset_0_-2px_6px_rgba(255,255,255,0.05)]">
                <tr>
                    <th class="py-3 px-2">{{ party_label }}</th>
                    <th>{{ total_label }}</th>
                    <th>
{% if mode == "sales" %}
    Receipt
{% else %}
    Payment
{% endif %}
</th>
                    <th>Return</th>
                    <th>
{% if mode == "sales" %}
      Remaining                         
{% else %}
    Outstanding
{% endif %}
</th>
                    <th>
{% if mode == "sales" %}
    Payables
{% else %}
    Receivable
{% endif %}
</th>
                </tr>
            </thead>

            <tbody class="divide-y divide-white/5">

                {% for p in parties %}

                <tr onclick="openParty('{{ p.id }}')" class="cursor-pointer transition-all duration-200
                    hover:bg-white/5 hover:scale-[1.01]">

                    <td class="py-3 font-bold">
                        {{ p.name }}
                    </td>

                    <td class="text-blue-400 font-semibold
                    drop-shadow-[0_0_6px_rgba(59,130,246,0.6)]">
                        ₹ {{ p.total|default:0 }}
                    </td>
                    <td class="text-green-400 font-semibold">
                        ₹ {{ p.payment|default:0 }}
                    </td>

                    <td class="text-yellow-400 font-semibold">
                        ₹ {{ p.return|default:0 }}
                    </td>

                    <td class="font-bold
                    {% if p.outstanding > 0 %}
                        text-red-400 drop-shadow-[0_0_6px_rgba(255,0,0,0.6)]
                    {% else %}
                        text-green-400
                    {% endif %}">
                        ₹ {{ p.outstanding|default:0 }}
                    </td>
                    <!-- ✅ RECEIVABLE -->
                    <td class="text-green-400 font-bold">
                        {% if p.receivable > 0 %}
                        ₹ {{ p.receivable|floatformat:2 }}
                        {% else %}
                        -
                        {% endif %}
                    </td>
                </tr>

                {% empty %}

                <tr>
                    <td colspan="3" class="text-center py-6 text-gray-400">
                        No data found
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

    <!-- MOBILE VIEW -->
    <div class="md:hidden space-y-4">

        {% for p in parties %}

        <div onclick="openParty('{{ p.id }}')" class="p-5 rounded-3xl cursor-pointer
        bg-gradient-to-br from-slate-800 to-slate-900
        shadow-[inset_2px_2px_6px_rgba(255,255,255,0.05),_8px_8px_20px_rgba(0,0,0,0.8)]
        border border-white/10
        transition-all duration-200
        hover:scale-[1.02] hover:bg-white/5">

            <div class="flex justify-between items-center">

                <div>
                    <h2 class="text-lg font-bold text-white">
                        {{ p.name }}
                    </h2>

                    <div class="space-y-2 text-sm">

                        <div class="flex justify-between">
                            <span class="text-gray-400">Total</span>
                            <span class="font-semibold">₹ {{ p.total }}</span>
                        </div>

                        <div class="flex justify-between">
                            <span class="text-gray-400"> {% if mode == "sales" %}
                                Receipt
                            {% else %}
                                Payment
                            {% endif %}</span> 
                            <span class="text-red-400"> (-) ₹ {{ p.payment|default:0 }}</span>
                        </div>

                        <div class="flex justify-between">
                            <span class="text-gray-400">Return</span>
                            <span class="text-red-400"> (-) ₹ {{ p.return|default:0 }}</span>
                        </div>
                        <div class="flex justify-between">
                            <span class="text-gray-400"> {% if mode == "sales" %}
                                Payable
                            {% else %}
                                Receivable
                            {% endif %}</span>
                            <span class="text-green-400 font-semibold">
                                {% if p.receivable > 0 %}
                                ₹ {{ p.receivable|floatformat:2 }}
                                {% else %}
                                -
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>

                <div class="text-right">

                    <div class="text-sm text-gray-400">Outstanding</div>

                    <div class="text-lg font-bold
                    {% if p.outstanding > 0 %}
                        text-red-400
                    {% else %}
                        text-green-400
                    {% endif %}">
                        ₹ {{ p.outstanding }}
                    </div>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="text-center text-gray-400 mt-10">
            No data found
        </div>

        {% endfor %}

    </div>

</div>

<script>
   function openParty(id) {

    let url =
        "{{ detail_url }}" + id;

    window.location.href = url;
}
</script>

{% endblock %}