{% extends "base.html" %}
{% block content %}

<div class="max-w-4xl mx-auto">

    <h1 class="text-2xl font-bold mb-6 text-white">
        Expense Categories
    </h1>

    <div class="bg-slate-800 p-6 rounded-2xl mb-6">

        <form method="POST" class="flex gap-3">

            {% csrf_token %}

            <input name="name" placeholder="Category Name" class="p-3 rounded bg-slate-700 text-white flex-1">

            <button class="bg-green-500 px-5 rounded font-bold">
                Add
            </button>

        </form>

    </div>


    <div class="bg-slate-800 p-4 rounded-2xl">

        <ul class="space-y-2">

            {% for c in categories %}

            <li class="border-b border-gray-700 py-2">
                {{ c.name }}
            </li>

            {% endfor %}

        </ul>

    </div>

</div>

{% endblock %}